.App {
  text-align: center;
  border: 0;
}

.nav {
  background-color: #DAFDBA;
  padding: 1rem;
  margin-bottom: 10px;
}

h1 {
  margin: 0
}

.level-btns button {
  margin-bottom: 10px;
  margin-right: 10px;
}

.btns button:hover {
  cursor: pointer;
}

.restart-btn {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.loading {
  color: #13678A;
}


/* input form styling */
.form {
  padding-bottom: 5px;
}

.submit-btn {
  margin-left: 5px;
}