.App {
  text-align: center;
  border: 0;
}

.nav {
  background-color: #DAFDBA;
  padding: 1rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around
}

h1 {
  margin: 0
}

.level-btns button {
  margin-bottom: 10px;
  margin-right: 10px;
  background: none;
  color: #13678A;
  border: 1px solid #13678A;
  border-radius: 30px;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.btns button:hover {
  cursor: pointer;
}

.rule-btn {
  font-size: 1rem;
  margin-bottom: 10px;
  background: none;
  color: #13678A;
  border: 1px solid #13678A;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px 10px;
  text-decoration: none;

}

.restart-btn {
  font-size: 1.2rem;
  margin-bottom: 10px;
  background: none;
  color: #13678A;
  border: 1px solid #13678A;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 8px 10px;
  text-decoration: none;
}

.loading {
  color: #13678A;
}


/* input form styling */
.form {
  padding-bottom: 5px;
}

.submit-btn {
  margin-left: 5px;
}



/* result component */
.number {
  font-weight: 600;
  color: #13678A;
}

/* game rule component */
.rule {
  width: 70%;
  margin: 0 auto;
  background-color: #13678A;
  border-radius: 5px;
  color: wheat;
  padding: 15px;
}